@use 'variables';

.menu{
    margin: 0 10px;
    h2{
        text-align: center;
    }
    .menu_pies_opciones, .menu_ponques_opciones, .menu_galletas_opciones, .menu_quiches_opciones{
        li {
          border: 1px solid variables.$corona;
          border-radius: 15px;
          margin: 5px;
          padding: 5px;
          img {
            width: 50%;
            border-radius: 150px;
            margin: 0 0 0 25%;
            }
            h4{
                font-size: 14px;
                color: #e4624b;
            }
        }
    }
    li {
        img {
            width: 50%;
            border-radius: 150px;
            margin: 0 0 0 25%;
        }
        h4{
            font-size: 14px;
            color: #e4624b;
        }
    }
    table, th, td {
        border-collapse: collapse;
        border: 1px solid variables.$logoColor;
    }
    thead th{
        background-color: variables.$logoColor;
        text-align: center;
    }
    th{
        font-size: 12px;
        font-weight: unset;
        padding: 10px;
    }
    &_intro{
       margin: 0 0 55px 0;
    }
    .precios{
        cursor: pointer;
        &:hover{
            color: variables.$azul;
            text-decoration: underline;
        }
    }
    .porciones_precios{
        display: none;
    }
    &_pies{
        background-color: #ffac335e;
    }
    &_ponques{
        background-color: #b98e8c47;
    }
    &_galletas{
        background-color: #d9ef638c;
    }
    &_quiches{
        background-color: #5c913b5c;
    }
}

ul button {
    color: variables.$azul;
    border-radius: 15px;
    border: 1px solid;
    margin: 5px;
    &:hover{
        color: darksalmon;
    }
}
.product_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-size: 12px;
}
h5 {
    text-align: center;
}

p{
    line-height: 1.3;
    font-size: 12px;
}
.domicilios{
    text-align: center;
}
iframe {
    width: 90vw;
}
