@use 'variables';
h3{
    font-size: 12px;
    @media #{variables.$tablet}{
        font-size: 18px;

    }
}
h5 {
    text-align: center;
    @media #{variables.$tablet}{
        font-size: 20px;
    }
}
p{
    line-height: 1.3;
    @media #{variables.$mobile} {
        font-size: 12px;
        padding: 10px 0;
    }
    @media #{variables.$tablet}{
        font-size: 14px;
    }
}
ul button {
    color: variables.$azul;
    border-radius: 15px;
    border: 1px solid;
    margin: 5px;
    &:hover{
        color: darksalmon;
    }
    @media #{variables.$tablet}{
        margin: 10px;
        height: 40px;
        width: 115px;
    }
}
section {
    @media #{variables.$mobile}{
        margin: 0 10px;
    }
    @media #{variables.$tablet}{
        margin: 20px 30px;
    }
}
.menu{
    h2{
        text-align: center;
        @media #{variables.$mobile}{
            margin: 70px 0 0 0;
        }
    }
    article {
        h2{
            padding: 5px 5px;
            margin: 0;
            font-size: 24px;
            &::after,&::before{
                content: "    🥮    ";
            }
        }
    }
    .menu_pies_opciones, .menu_ponques_opciones, .menu_galletas_opciones, .menu_quiches_opciones{
        @media #{variables.$tablet}{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            overflow: scroll;
            justify-content: flex-start;
        }
        li {
          border: 1px solid variables.$corona;
          border-radius: 15px;
          margin: 5px;
          padding: 5px;
            @media #{variables.$tablet} {
                display: flex;
                flex-direction: column;
                width: 330px;
                /* &::after{
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\203a";
                } */
            }
            img {
                width: 50%;
                border-radius: 150px;
                margin: 0 0 0 25%;
                aspect-ratio: 1;
                @media #{variables.$tablet} {
                    width: 74%;
                    border-radius: 135px;
                    margin: 0 auto;
                }
            }
            h4{
                font-size: 14px;
                color: #e4624b;
                @media #{variables.$tablet}{
                    font-size: 18px;
                }
            }
        }
    }
    table, th, td {
        border-collapse: collapse;
        border: 1px solid variables.$logoColor;
    }
    thead th{
        background-color: variables.$logoColor;
        text-align: center;
    }
    th{
        font-size: 12px;
        font-weight: unset;
        padding: 10px;
    }
    &_intro{
        @media #{variables.$mobile}{
            margin: 0 10px;
        }
        @media #{variables.$tablet}{
            margin: 0 0 16px 0;
            text-align: center;
        }
    }
    .precios{
        cursor: pointer;
        &:hover{
            color: variables.$azul;
            text-decoration: underline;
        }
    }
    .porciones_precios{
        @media #{variables.$mobile}{
            display: none;
        }
        @media #{variables.$tablet}{
            display: none;
        }
    }
    &_pies{
        background-color: #ffac335e;
    }
    &_ponques{
        background-color: #b98e8c47;
    }
    &_galletas{
        background-color: #d9ef638c;
    }
    &_quiches{
        background-color: #5c913b5c;
    }
}
.product_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media #{variables.$tablet}{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
.domicilios{
    text-align: center;
}
iframe {
    width: 90vw;
}
