@use 'variables';

.modalCheckout{
    &_background{
        display: none;
        background-color: #4f2f2fd1;
        padding: 30px;
        position: absolute;
        top: 140px;
        height: 300vh;
        @media #{variables.$tablet}{
            height: 425vh;
            width: 92vw;
        }
    }
    &_proper{
        background-color: darksalmon;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        height: 500px;
        display: flex;
        flex-direction: column;
        @media #{variables.$tablet}{
            height: 850px;
        }
        i{
            align-self: flex-end;
        }
        @media #{variables.$tablet}{
            h3{
                font-size: 30px;
            }
            p{
                font-size: 22px;
            }
        }
    }
}
