@use 'variables';

footer{
    width: 100%;
    margin: 45px 0 0 0;
    background-color: variables.$logoColor;
    @media #{variables.$mobile}{
        display: block;
    }
    @media #{variables.$tablet}{
        display: flex;
    }
    @media #{variables.$laptop}{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .contacto{
        font-size: 12px;
        display: flex;
        text-align: center;
        @media #{variables.$tablet}{
            margin: 0 15px 0 0;
        }
        @media #{variables.$laptop}{
            align-items: center;
        }
        p{
            color: white;
            margin: 10px 0;
            padding: 0;
            b{
                color: white;
                font-weight: 300;
            }
            a{
                color: white;
            }
        }
        img {
            display: inline-block;
            @media #{variables.$mobile}{
                width: 100px;
                height: 100px;
                margin: 5px;
            }
            @media #{variables.$tablet} {
                height: 130px;
                margin: 15px;
            }
            @media #{variables.$laptop} {
                height: 200px;
                margin: 15px;
            }
        }
        &_datos{
            @media #{variables.$mobile}{
                padding: 15px 15px 0 15px;
            }
            @media #{variables.$tablet}{
                align-self: center;
            }
        }
    }
    .social {
        font-size: 12px;
        padding: 10px;
        &_title{
            font-size: 14px;
            color: white;
            margin: 10px 0;
        }
        ul{
            display: flex;
            justify-content: space-around;
            li{
                @media #{variables.$tablet}{
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            i{
                color: white;
                font-size: 14px;
            }
            a{
                color: white;
                margin: 0 5px;
            }
        }
        @media #{variables.$tablet}{
            align-self: center;
            text-align: center;
        }
    }
    .signature{
        margin: 0;
        padding: 30px 0 0 0;
        font-size: 10px;
        text-align: center;
        color: white;
        @media #{variables.$tablet}{
            align-self: flex-end
        }
        b{
            color: white;
        }
    }
}
