@use 'variables';

.topbar {
    width: 100%;
    background-color: variables.$logoColor;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    span{
        line-height: 0.3;
        padding: 0 0 0 32px;
    }
    a, p {
        color: white;
        margin: 0;
    }
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid maroon;
    height: 85px;
    .logo_header{
        height: 80px;
    }
    h1{
        font-size: 22px;
        text-align: center;
    }
    button{
        border-radius: 15px;
        width: 66px;
        height: 45px;
        border-width: 1px;
        border-color: maroon;
        background-color: beige;
        font-family: 'Josefin';
    }
}
.formulario{
    border: 1px solid maroon;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
}
