@use 'variables';

.fa-bars{
    color: white;
    font-size: 30px;
}
.nav{
    height: 455px;
    position: absolute;
    right: 2px;
    top: 53px;
    display: none;
    /* display: flex; */
    overflow: scroll;
    border: solid 1px variables.$logoColor;
    background-color: #f6d8db;
    z-index: 2;
    line-height: 2;
    padding: 10px;
    ul {
        display: flex;
        flex-direction: column;
    }
    a:hover{
        text-decoration: underline;
        color: variables.$logoColor;
        background-color: darksalmon;
    }
    &_options{
        &_categories {
            text-align: center;
            .nav_subcategories_item{
                text-align: left;
            }
        }
        &_last{
            text-align: center;
            font-weight: bold;
            margin: 5px;
        }
    }

}
