//Fonts
@font-face {
    font-family: 'Aloha';
    src: url("/src/1Assets/fonts/2FuenteALOJA-extended.ttf") format("truetype");
}
@font-face {
    font-family: 'Josefin';
    src: url("/src/1Assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

$font-title: 'Aloha', sans-serif;
$font-body: 'Josefin', sans-serif;

//Colors
$logoColor: #762011;
$azul: #5864B7;
$pina: #ffac33;
$corona: #b98f8d;
$fresa: #EF3445




/*
#ffac33 —- piña oscuro
#ffac4d —- piña claro
#EF3445 —- fresa del logo
#5C913B —- hojas piña verde */
