@use 'modules/variables';
@use 'modules/mixins';
@use 'modules/functions';
@use 'modules/header';
@use 'modules/navbar';
@use 'modules/form';
@use 'modules/categories';
@use 'modules/checkout';
@use 'modules/footer';

//Reset
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126 - License: none (public domain)*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, output, ruby, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, hgroup, menu, section {
 display: block;
}
body {
 line-height: 1;
 width: 100vw;
}
article{
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 10px;
    @media #{variables.$tablet}{
        padding: 5px 5px;
    }
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

h1, h2, h3, h4, h5, h6 {
 font-family: variables.$font-title;
 color: variables.$logoColor;
 border: 0;
}

legend, label, p, a, b, i, th {
    font-family: variables.$font-body;
    color: #000;
    line-height: 1.3;
}

a {
    text-decoration: none;
}
